label {
    display: flex;
    width: 100%;
    align-items: center;
}

.label-text {
    width: 25%;
    padding-right: 5%;
}
.input-text {
    width: 65%;
}

button[type="submit"],
input[type="text"],
input[type="email"] {
    border: 1px solid #aaa;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}

input[type="text"].ng-touched.ng-invalid,
input[type="email"].ng-touched.ng-invalid {
    border: 2px solid darkred;
    padding: 9px;
    border-left-width: 2px;
    background-color: #fee;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #eee;
}
